.exit {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  right: 150px;
  font-size: 19px;
}

.trash {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  top: 80px;
}


.toDo {
  height: 100vh;
  width: 100vh;
}

.desc {

}