.toDo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 0px !important;
  transition: background-color 0.3s ease;
  .checkBox:hover {
  }

  .switcher {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .Segment {
    height: 18px;
    padding: 0;
  }
}

.content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-left: 5px solid white  ;
}
.contentColor {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-left: 5px solid #3BB08F;
}

.checkBox {
  float: right;


}
