.toDo {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  transition: background-color 0.3s ease;


  .checkBox:hover {
  }

  .switcher {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    top: 10px;
  }

  .Segment {
    height: 18px;
    padding: 0;
  }
}

.checkBox {
  display: none;
  position: fixed;
  left: 271px;
  bottom: 24px;



}
