.toDo {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  transition: background-color 0.3s ease;

  .checkBox {
    position: fixed;
    left: 64%;

  }

  .checkBox:hover {

  }

  .switcher {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

  }

  .Segment {
    height: 18px;
    padding: 0;
  }
}

.toDo:active {
  background-color: greenyellow;
}