
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;

  .Accordion {
    display: flex;
    justify-content: flex-start;
  }
}
