.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  height: 330%;

  .Accordion {
    display: flex;
    justify-content: flex-start;
  }
}




.side-bar {
  width: 100%;
  height: 1300vh;
  background-color: #f0f0f0;
}