
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;

  .toDo {
      display: flex;
      justify-content: flex-start;

  }
}