.Segment {
  color: #61dafb;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  .checkBox {
    margin-right: 6px
  }

  .input {
    border: none;
  }

  .input:focus {
    outline: none;
  }
}